
<link rel="stylesheet" href="css/app.css">

<!-- Include Header -->
 <%-include('include/header')%>
<h1>Red</h1>
 <%-include('include/nav')%>



<!-- Include Footer -->
<%-include('include/footer')%>
